@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    /* width: 100%; */
   
}



body{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    /* min-width: 400px; */
    font-size: 400;

    
}
.content{
   /* padding: 20px; */
   width: 100%;
   max-width: 1440px;
   min-width: 475px;
}
.sub-content ul{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: right;
     padding-right: 50px;
     margin: 10px;
     cursor: pointer;
     
    
}

.sub-content nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.second-contain{
    display: flex;
    /* flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 600px;
    max-width: 1440px; */
   /* min-width: 500px; */
  /* margin: 20px;  */
    width: 100%;


}
.join-contain{
    width: 100%;
}
.join-contain header{
    width: 80%;
    font-family: "Raleway", sans-serif;
    font-size: 700;
    font-size: 20px;
    padding: 15px;
    margin-top: 110px;
}
/* .img-contain{
    width: 100%;
}
.img-contain img{
    width: 100%;
} */
.join-contain p{
    width: 80%;
    font-size: 16px;
    padding: 10px;
}
.join-contain form{
    margin-left: 10px; 
    display: flex;
     gap: 10px; 
    margin-top: 20px;
    min-width: 380px;
}
.form-contain input{
       width: 45%;
       height: 30px;
       
}
.form-contain button{
    width: 35%;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    cursor: pointer;

   
    
}
.img-two img{
    
        width: 100%;
       /* height: 100%;  */
       /* min-width: 400px; */
       
   
   
}
.img-two{
    width: 50%;
    min-width: 400px;
}
.one-img img{
    width: 100%;
    
}
.one-img img{
    display: block;
}
.two-contain h2{
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 37.5px;
    padding: 15px;
    margin-left: 10px;
}
.two-contain p{
     margin-left: 15px; 
    padding:10px ;
    font-size: 16px;
    width: 35%;
}
.two-contain a{
    margin: 25px;
    color: #a2d0c8;
    display: flex;
}
 .three-contain{
    width: 100%;   
   

}    

.three-contain h2{
    font-size: 33px;
    font-family: "Raleway", sans-serif;
    font-size: 700;
    width: 100%;
}
.three-contain p{
    width: 100%;
    /* padding: 5px; */
    font-size: 16px;
    /* margin-top: 20px; */

}
.div-one{
    margin-left: 30px;
}
.para-one{
    margin-left: 30px;
}
.para-one p{
  margin-top: 25px;
}
.a-one {
    margin-top: 20px;
    
    
}
.a-one a{
    display: flex;
    color:#73dac7 ;
}
.div-one{
   /* Border: 1px solid; */
   width: 60%;
   /* height: 350px; */
   padding: 20px;
  margin-top: 40px;
  box-shadow: 1px 1px 5px;
} 
.div-two{
    display: flex;
    align-items: center;
    
    
}
.div-two img{
    border-radius: 50%;
    width: 45px;
    padding: 10px;
    
}

.second-content{
    /* padding: 30px; */
    display: flex;
    /* flex-wrap: wrap;
    min-width: 600px;
    max-width: 1440px; */
    background-color: #f9f8fe;
    /* width: 100%; */

}

.main-image{
    width: 100%;
    min-width: 400px;
}
.main-image img{
     width: 100%;
    height: 100%; 
    
    
}
.four-contain{
    padding: 20px;
    width: 100%;
    min-width: 360px;
    
}
.third-content{
    margin-top: 30px;
}
.four-contain h2{
    font-family: "Raleway", sans-serif;
    font-size: 700;
}
.four-contain p,h2{
       margin-top: 30px;
}
.four-contain h2{
    font-weight: 700;
}
.four-contain p{
    width: 65%;
}
.form-one{
    width: 100%;
    margin-top: 65px;
    min-width: 385px;
}
.form-one input{
  display: flex;
  width: 50%; 
  height: 30px;
}
.form-one button{
 
    padding: 10px;  
    /* margin-top: 30px; */
    background-color: #334db6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 51%;

}
.third-content{
    width: 100%;
    
    height: 240px;
   display: flex;
   justify-content: space-between;
   gap: 10px;
   background-color:#575989 ;
   color: white;
   
}



.four-contain img{
    border-radius: 50%;
    width: 20%;
    
}
.foot-one{
    background-color: #07043b;
   
   color: white;
   width: 100%;

}
.four-one {
    width: 100%;
}
.ul-one li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
    
}
.ul-two li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}


.img-phone{
    margin-top:20px; 
    /* min-width: 400px; */
    margin: 10px;
    
}

.img-mail a{
     margin-top: 10px;
}
.four-one img{
    width: 100px;
    margin-top: 50px;
    margin-left: 40px;
}


.four-two{
    display: flex;
   align-items: first baseline;
   gap: 13%;
   padding: 15px;
   margin-left: 15px;
   
  
}
.icon-web i{
    color: white;
    border: 1px solid;
    border-radius: 50%;
    
    padding: 5px;
    margin: 10px;
    cursor: pointer;

}
.img-phone a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.icon-two{
    padding: 10px;
}
.icon-two img{
    margin-right: 10px;
}
.img-mail{
    padding: 10px;

}
.img-mail img{
    margin-right: 10px;
}
.form-contain:hover button{
    background-color: #6b9bff;
}
.form-one button:hover {
    background-color: #789ef1;
}
.ul-one li:hover{
    color: hsl(238, 22%, 44%);
}
.ul-two li:hover{
    color: hsl(238, 22%, 44%);
}
.icon-web i:hover{
    color: hsl(238, 22%, 44%);
}
@media (max-width:770px){


    
    .second-contain{
        width: 100%;
        flex-direction: column-reverse;
        /* margin:3%; */
        /* border: 2px solid blue; */
    }
    .content{
        width:100%;
        margin: 0px;
    }
.img-two{
    width: 90%;
    /* max-width: 425px; */
   
}
/* .img-two img{
    width: 90%;
} */
.three-contain{
    width: 100%;
}
.join-contain{
    width: 100%;
}
.join-contain header{
    width: 90%;
    text-align: center;
    margin: 0px;
}
.join-contain p{
    width: 85%;
    font-size: 16px;
    text-align: center;
  
}
.form-two{
    width: 90%;
}
 .form-contain{
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .form-contain form{
    width: 60%;
    margin-top: 20px;
 }

 .form-contain input{
    width: 90%;
 }
 .form-contain button{
    width: 90%;
    padding: 10px;
    
 }



.one-img img{
    background-image: url(images/bg-curve-mobile.svg);
    width: 100%;
    margin-top: 30px;    
}
.second-content{
    width: 100%;

    padding: none;
        flex-direction: column-reverse;
        /* border: 2px solid yellow; */
        /* justify-content: center;
        align-items: center; */
} 
.para-one{
    width: 100%;
    margin: 0%;
}
.three-contain{
    width: 100%;
}
.para-one h2{
    width:100%;
    text-align: center;
    font-size: 20px;
}
.para-one p{
    width: 90%;
    margin-left: 20px;
    
    
}
.main-image{
    /* border: 2px solid orange; */
}
.div-one{
    margin-bottom: 100px;
    margin-left: 20px;
}
.a-one{
    width: 100%;
    
}
.a-one a{
    width: 100%;
  /* margin-left: 300px; */
  gap: 0px;
  justify-content: center;
  align-items: center;
}
.third-content{
    width: 100%;
   flex-wrap: wrap;
   height: 100%;
   
}
.form-contain{
    width: 100%;
}
.four-contain{
  width: 100%;
  text-align: center;
}
.four-contain p{
    width: 90%;
    text-align: center;
}
.form-class{
        width: 100%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-one{
    width: 100%;
    margin-bottom: 150px;
    margin: 20px;
    
   
    /* margin-top: 20px; */
    
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.form-one input{
    width: 70%;
    /* margin-left: 40px; */
    

}
.form-one button{
       width: 70%;
       /* margin-left: 35px ; */
       margin-top: 10px;
       

}
/* .five-contain{
    width: 80%;
} */
 .foot-one{
    width: 100%;
 }
.four-content{
    flex-wrap: wrap;
    display: flex;
    /* border: 2px solid pink; */
}
.four-two{
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
}
.ul-one ul{
   margin-top: 25px;
 text-align: left;
 padding: 0%;
}
.ul-two ul{
    margin-top: 25px;
    text-align: left;
    padding: 0%;
}
.icon-web {
   display: flex;
   justify-content: center;
   align-items:flex-end;
   width: 100%;
   margin-top: 40px;
   
}
.four-one img{
    width: 40%;
    
}
.img-contain img{
    width: 60%;
}
 .sub-content nav{
    width: 90%;
    margin: 0%;
    margin-top: 10px;
    margin-left: 10px;
    /* border: 2px solid green; */
    
   
}
.sub-content ul{
    width: 90%;
    gap: 20px;
    gap: 0%;
    padding: 0px;
    margin: 0%;
    margin-right: 20px;
}
.sub-content li{
    padding-left: 10px;
}
.foot-one{
    /* gap: 0px;
    align-items: none;
    justify-self: unset; */
    
}
}